.app-header {
  background-color: rgb(83, 2, 83);
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 2vh;
}