.app-body {
  margin: -30px 60px 0;
  min-height: 600px;
  min-width: 250px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px grey;
}

.add-notes {
  padding: 0 30px 0 40px;
}

textarea {
  max-width: 99%;
}

.app-button {
  margin-top: 20px;
  background-color: rgb(83, 2, 83);
  color: #fff !important;
}

.app-button:hover {
  background-color:rgb(123, 5, 123);
}

.note-item {
  min-height: 100px;
  width: 200px;
  max-height: 200px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(83, 2, 83);
  color: #fff;
  box-shadow: 1px 1px 10px 1px grey;
  overflow: auto;
}
